body{
    font-family: Arial;
    background:#f4f4f4;
    margin:0;
    padding:0;
}

.container{
    width:60%;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:10px;
}

h1{
    text-align:center;
}

textarea,input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:12px;
    cursor:pointer;
    background:black;
    color:white;
}

#result{
    margin-top:20px;
}
